.todo{
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
    color: rgb(111, 109, 109);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 60%;
  }
  
  .input:focus {
    border-color: gray; 
  }
  
  .input::placeholder {
    color: #aaa;
    font-style: italic;
  }
 

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* border-bottom: 1px solid #ccc; */
  list-style: none;
  width: 55%;
  margin: auto;
}

.task-text {
  flex-grow: 1;
  font-size: 1.2rem;
}

.task-icons {
  display: flex;
  gap: 10px;
}

.delete-icon, .edit-icon {
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

/* .delete-icon:hover, .edit-icon:hover {
  color: #f44336;
} */

  